In [1]:
import pandas as pd

In [2]:
import numpy as np

In [8]:
def generate_dummy_data(num_records = 10, random_seed= 42):
    rng = np.random.default_rng(random_seed)
    data = pd.DataFrame({
        'person_id': np.arange(1, num_records + 1),
        'age': rng.integers(18, 70, num_records),
        'gender': rng.choice(['Male','Female'], num_records, p=[0.5,0.5]),
        'province': rng.integers(1, 8, num_records),
        'urban_rural': rng.choice([0,1], num_records, p=[0.6,0.4]),
        'education_level': rng.choice(['None','Primary','Secondary','Higher'], num_records),
        'wealth_index': rng.choice(['Low','Medium','High'], num_records),
        'smoker': rng.choice([0,1], num_records, p=[0.75,0.25]),
        'alcohol_use': rng.choice([0,1], num_records, p=[0.7,0.3]),
        'physical_activity': rng.choice([0,1], num_records, p=[0.4,0.6]),
        'BMI': rng.integers(18, 35, num_records),
        'systolic_bp': rng.integers(100, 160, num_records),
        'diastolic_bp': rng.integers(60, 100, num_records),
    })
        # Logical health rules
    data['diabetes_flag'] = ((data['BMI'] > 27) & (data['age'] > 40)).astype(int)
    data['hypertension_flag'] = (data['systolic_bp'] > 140).astype(int)

    return data

In [9]:
df = generate_dummy_data(50)

In [10]:
df.head()

,person_id,age,gender,province,urban_rural,education_level,wealth_index,smoker,alcohol_use,physical_activity,BMI,systolic_bp,diastolic_bp,diabetes_flag,hypertension_flag
0,1,22,Male,6,1,Primary,Medium,1,0,1,26,157,60,0,1
1,2,58,Male,2,1,Higher,Low,1,1,0,28,108,72,1,0
2,3,52,Male,7,0,None,Low,0,0,1,20,105,80,0,0
3,4,40,Male,3,1,Higher,Medium,0,0,1,20,156,96,0,1
4,5,40,Female,4,1,Secondary,High,0,0,1,20,133,89,0,0

In [11]:
df.to_csv("../data/dummy/nepal_dummy_population.csv", index=False)

In [12]:
df.head()

,person_id,age,gender,province,urban_rural,education_level,wealth_index,smoker,alcohol_use,physical_activity,BMI,systolic_bp,diastolic_bp,diabetes_flag,hypertension_flag
0,1,22,Male,6,1,Primary,Medium,1,0,1,26,157,60,0,1
1,2,58,Male,2,1,Higher,Low,1,1,0,28,108,72,1,0
2,3,52,Male,7,0,None,Low,0,0,1,20,105,80,0,0
3,4,40,Male,3,1,Higher,Medium,0,0,1,20,156,96,0,1
4,5,40,Female,4,1,Secondary,High,0,0,1,20,133,89,0,0

In [13]:
df

,person_id,age,gender,province,urban_rural,education_level,wealth_index,smoker,alcohol_use,physical_activity,BMI,systolic_bp,diastolic_bp,diabetes_flag,hypertension_flag
0,1,22,Male,6,1,Primary,Medium,1,0,1,26,157,60,0,1
1,2,58,Male,2,1,Higher,Low,1,1,0,28,108,72,1,0
2,3,52,Male,7,0,None,Low,0,0,1,20,105,80,0,0
3,4,40,Male,3,1,Higher,Medium,0,0,1,20,156,96,0,1
4,5,40,Female,4,1,Secondary,High,0,0,1,20,133,89,0,0
5,6,62,Female,5,1,None,High,0,1,1,27,126,91,0,0
6,7,22,Female,1,0,Primary,Low,0,1,0,18,144,81,0,1
7,8,54,Male,4,0,Secondary,High,0,0,1,27,122,64,0,0
8,9,28,Male,4,0,Primary,Low,0,0,0,26,107,75,0,0
9,10,22,Male,6,1,None,High,0,0,0,25,143,99,0,1
10,11,45,Male,7,0,Secondary,High,0,0,1,29,110,61,1,0
11,12,68,Male,5,0,Secondary,High,0,1,1,26,133,95,0,0
12,13,56,Male,3,0,None,Low,0,0,0,30,156,87,1,1
13,14,57,Male,3,0,Primary,High,1,0,0,30,156,71,1,1
14,15,55,Female,3,0,None,Low,0,1,0,33,121,91,1,0
15,16,58,Male,6,1,Secondary,Medium,0,0,0,31,146,93,1,1
16,17,44,Female,3,1,Secondary,Medium,0,0,0,26,136,61,0,0
17,18,24,Female,2,1,Secondary,Low,0,0,1,26,128,64,0,0
18,19,61,Male,3,0,Higher,Low,1,0,0,22,108,86,0,0
19,20,41,Female,1,1,Higher,High,0,0,1,28,122,99,1,0
20,21,44,Female,1,0,Primary,Medium,0,0,1,20,139,60,0,0
21,22,37,Male,1,1,None,Medium,0,0,1,33,159,86,0,1
22,23,27,Male,6,0,Secondary,Medium,0,0,0,32,100,65,0,0
23,24,66,Female,6,0,Higher,Medium,1,0,1,20,143,86,0,1
24,25,58,Male,5,0,Higher,High,0,0,1,31,150,84,1,1
25,26,51,Male,4,0,None,Low,1,0,1,19,157,63,0,1
26,27,38,Male,6,0,None,High,0,0,1,30,125,87,0,0
27,28,60,Female,2,0,None,High,0,0,1,19,107,95,0,0
28,29,46,Female,7,0,None,Medium,0,1,1,26,116,94,0,0
29,30,41,Female,4,0,Secondary,Low,0,1,0,29,151,61,1,1
30,31,41,Female,7,0,Secondary,Low,0,0,1,30,152,69,1,1
31,32,29,Male,2,1,Primary,High,0,0,0,25,138,69,0,0
32,33,22,Female,4,0,Primary,High,1,0,1,33,107,78,0,0
33,34,46,Male,5,0,Higher,Low,0,0,1,31,107,65,1,0
34,35,64,Male,4,0,Primary,Low,1,0,0,21,128,94,0,0
35,36,21,Female,4,0,Higher,Low,1,0,1,29,135,91,0,0
36,37,62,Male,2,1,Higher,Low,0,0,0,30,101,92,1,0
37,38,61,Female,3,0,Primary,High,1,0,1,23,141,67,0,1
38,39,32,Female,2,1,None,High,0,0,0,30,132,60,0,0
39,40,50,Female,3,0,Higher,Low,0,0,1,33,100,96,1,0
40,41,26,Female,5,0,Secondary,High,1,1,0,31,105,71,0,0
41,42,57,Female,5,0,Primary,Low,1,0,1,30,127,86,1,0
42,43,54,Male,5,1,Secondary,Medium,0,1,1,28,143,96,1,1
43,44,36,Male,3,0,Secondary,Medium,0,0,1,22,149,61,0,1
44,45,21,Male,7,0,Higher,High,0,1,1,31,125,60,0,0
45,46,68,Male,1,0,Primary,High,1,1,1,24,117,60,0,0
46,47,41,Male,3,0,Higher,Low,0,1,1,27,158,66,0,1
47,48,64,Female,1,0,Higher,Low,0,1,0,23,127,62,0,0
48,49,53,Male,3,0,None,Low,0,1,1,23,118,92,0,0
49,50,58,Male,7,0,None,Low,0,0,0,20,126,84,0,0