In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
df = pd.read_csv("../data/dummy/nepal_dummy_population.csv")

In [5]:
def bmi_category(bmi):
    if bmi < 18.5: return 'Underweight'
    elif bmi < 25: return 'Normal'
    elif bmi < 30: return 'Overweight'
    else: return 'Obese'

In [6]:
df['BMI_category'] = df['BMI'].apply(bmi_category)

In [7]:
df['lifestyle_risk_score'] = df['smoker'] + df['alcohol_use'] + (1 - df['physical_activity'])

In [8]:
df['ses_risk_score'] = df['urban_rural'].apply(lambda x: 1 if x==0 else 0) +
                       df['education_level'].apply(lambda x: 1 if x in ['None','Primary'] else 0) +
                       df['wealth_index'].apply(lambda x: 1 if x=='Low' else 0)

In [9]:
df.to_csv("../data/processed/nepal_features.csv", index=False)

In [10]:
df.head()

,person_id,age,gender,province,urban_rural,education_level,wealth_index,smoker,alcohol_use,physical_activity,BMI,systolic_bp,diastolic_bp,diabetes_flag,hypertension_flag,BMI_category,lifestyle_risk_score,ses_risk_score
0,1,22,Male,6,1,Primary,Medium,1,0,1,26,157,60,0,1,Overweight,1,1
1,2,58,Male,2,1,Higher,Low,1,1,0,28,108,72,1,0,Overweight,3,1
2,3,52,Male,7,0,NaN,Low,0,0,1,20,105,80,0,0,Normal,0,2
3,4,40,Male,3,1,Higher,Medium,0,0,1,20,156,96,0,1,Normal,0,0
4,5,40,Female,4,1,Secondary,High,0,0,1,20,133,89,0,0,Normal,0,0