In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from sklearn.linear_model import LogisticRegression

df = pd.read_csv("../data/processed/nepal_segmented.csv")

features = ['age','BMI','lifestyle_risk_score','ses_risk_score']
X = df[features]
y = df['diabetes_flag']

model = LogisticRegression()
model.fit(X, y)

df['diabetes_risk_score'] = model.predict_proba(X)[:,1]

def risk_level(score):
    if score < 0.3: return 'Low'
    elif score < 0.6: return 'Medium'
    else: return 'High'

df['diabetes_risk_level'] = df['diabetes_risk_score'].apply(risk_level)
df.to_csv("../data/processed/nepal_scored.csv", index=False)
df.head()

,person_id,age,gender,province,urban_rural,education_level,wealth_index,smoker,alcohol_use,physical_activity,...,diastolic_bp,diabetes_flag,hypertension_flag,BMI_category,lifestyle_risk_score,ses_risk_score,segment_id,segment_name,diabetes_risk_score,diabetes_risk_level
0,1,22,Male,6,1,Primary,Medium,1,0,1,...,60,0,1,Overweight,1,1,1,Young Healthy Low Risk,0.001856,Low
1,2,58,Male,2,1,Higher,Low,1,1,0,...,72,1,0,Overweight,3,1,0,Middle Age Emerging Risk,0.614832,High
2,3,52,Male,7,0,NaN,Low,0,0,1,...,80,0,0,Normal,0,2,0,Middle Age Emerging Risk,0.002087,Low
3,4,40,Male,3,1,Higher,Medium,0,0,1,...,96,0,1,Normal,0,0,2,Middle Age Emerging Risk,0.000171,Low
4,5,40,Female,4,1,Secondary,High,0,0,1,...,89,0,0,Normal,0,0,2,Middle Age Emerging Risk,0.000171,Low